hr.gradient {
    min-width: 100%;
    border-width: 1px;
    height: 1px;
    /*background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));*/
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.9), transparent);
    border: none !important;
}